label {
  font-size: 1.4rem;
  text-align: right;
}
.pull__left {
  margin-left: 26%;
}
.user__info {
  margin-left: 31%;
  margin-top: -46px;
  margin-bottom: 30px;
}
.user__info__text {
  margin-top: -30px;
  padding-left: 22px;
}
.form-control{
  height: 3.5rem;
  font-size: 1.3rem;
}
.center__input {
  padding-left: 80px;
}
button {
  font-size: 1.2rem;
  height: 3.9rem;
  width: 70%;
  margin-left: 15%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.notes {
  margin-top: 10px;
  text-align: left;
  font-size: 11px;
  margin-bottom: 10px;
}
#tipo{
  font-size: 12px;
}
.wizard-container {
  padding-top: 40px;
}
