button {
  width: 100px;
  height: 3.7rem;
  font-size: 1.5rem;
}
.btn-o-primary:not(:disabled):not(.disabled):active, .btn-o-primary:not(:disabled):not(.disabled).active, .show > .btn-o-primary.dropdown-toggle {
  background-color: #3E7EBE;
  border-color: #3E7EBE;
  outline: none;
}
.btn.focus {
  color: #3E7EBE;
}
.nav.nav-tabs.justify-content-start {
  font-size: 1.5rem;
}
::ng-deep .nav-item {
  width: 150px;
}
