<div style="float: right">
  <button class="btn btn-primary">Agregar</button>
  <button class="btn btn-primary" style="margin-right: 5px; margin-left: 5px">Importar</button>
  <button class="btn btn-primary">Asignar</button>
  <button class="btn btn-danger" style="margin-left: 5px">Borrar</button>
</div>
<div style="margin-top: 60px">
  <ngb-tabset>
    <ngb-tab title="Web">
      <ng-template ngbTabContent>
        <app-solicitantes-tabla></app-solicitantes-tabla>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="BD">
      <ng-template ngbTabContent>
        <app-solicitantes-tabla></app-solicitantes-tabla>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Cambaceo">
      <ng-template ngbTabContent>
        <app-solicitantes-tabla></app-solicitantes-tabla>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Todos">
      <ng-template ngbTabContent>
        <app-solicitantes-tabla></app-solicitantes-tabla>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
