<div style="margin-top: 60px">
  <ngb-tabset>
    <ngb-tab title="Comisiones">
      <ng-template ngbTabContent>
        <app-reporte-comisiones></app-reporte-comisiones>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Financiero">
      <ng-template ngbTabContent>
        <app-reporte-financiero></app-reporte-financiero>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Solicitantes">
      <ng-template ngbTabContent>
        <app-reporte-solicitantes></app-reporte-solicitantes>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Solicitudes">
      <ng-template ngbTabContent>
        <app-reporte-solicitudes></app-reporte-solicitudes>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
